  <launch>
    <arg name="camera_name" default="cam_avt_mako"/>     
    <arg name="guid" default="Allied Vision Technologies-50-0536908282" />
    <arg name="calibrated" default="0" />
    <arg name="frame_rate" default="30"/>

    <group ns="cam_avt_mako_aravis">
      <node pkg="camera_aravis" type="camera_node" name="cam_avt_mako_aravis" output="screen" clear_params="true">
        <param name="frame_id" value="$(arg camera_name)" />
        <param name="guid" type="str" value="$(arg guid)" />
        
        <param name="AcquisitionMode" type="str" value="Continuous"/>
        <param name="AcquisitionFrameRateAbs" value="$(arg frame_rate)"/>
        
        <!--param name="ExposureTimeAbs" value="5000.0"/--> <!-- Manual control -->
        <param name="ExposureAuto" type="str" value="Continuous"/>
        <param name="ExposureMode" type="str" value="Timed"/>
        <param name="ExposureAutoAlg" type="str" value="Mean"/>
        <param name="ExposureAutoAdjustTol" value="5"/>
        <param name="ExposureAutoOutliers" value="0"/> <!-- 1000 = 10% -->
        <param name="ExposureAutoTarget" value="50"/> <!-- 0=black to 100=white -->
        <param name="ExposureAutoMin" value="1000.0"/>
        <param name="ExposureAutoMax" value="30000.0"/>
        
        <!--param name="Gain" value="1.0"/-->
        <param name="GainAuto" type="str" value="Continuous"/>
        <param name="GainAutoAdjustTol" value="5"/> <!--0 to 50 -->
        <param name="GainAutoOutliers" value="0"/> <!-- 1000 = 10% -->
        <param name="GainAutoTarget" value="50"/> <!-- 0=black to 100=white -->
        <param name="GainAutoMin" value="1.0"/>
        <param name="GainAutoMax" value="5.0"/>
        
        <param name="DSPSubregionLeft" value="0"/>
        <param name="DSPSubregionTop" value="0"/>
        <param name="DSPSubregionRight" value="2063"/>
        <param name="DSPSubregionBottom" value="1543"/>

        <param name="GevSCPSPacketSize" value="9000"/>

        <param name="TriggerMode" type="str" value="Off"/>
      <!-- Use the camera_calibration package to create this file -->
      <param name="camera_info_url" if="$(arg calibrated)"
             value="file://$(env HOME)/.ros/camera_info/$(arg guid).yaml" />
    </node>

    <node pkg="image_proc" type="image_proc" name="image_proc_$(arg camera_name)"
          args="load image_proc camera_nodelet_manager" output="screen">
    </node>
  </group>
</launch>
