<launch>
  <arg name="camera_name" default="cam_avt_prosilica"/>     
  <arg name="guid" default="Allied Vision Technologies-02-2677A-06279" />
  <arg name="calibrated" default="0" />
  <arg name="frame_rate" default="20"/>

  <group ns="cam_avt_prosilica_aravis">
    <node pkg="camera_aravis" type="camera_node" name="cam_avt_prosilica_aravis" output="screen" clear_params="true" >
      <param name="frame_id" value="$(arg camera_name)" />
      <param name="guid" type="str" value="$(arg guid)" />
      
      <param name="thread_priority" value="0" /> <!-- 0 = normal, 1 = high priority, 2 = real-time -->
      
      <param name="AcquisitionMode" type="str" value="Continuous"/>
      <param name="AcquisitionFrameRateAbs" value="$(arg frame_rate)"/>
      
      <!--param name="ExposureTimeAbs" value="5000.0"/--> <!-- Manual control -->
      <param name="ExposureAuto" type="str" value="Continuous"/>
      <param name="ExposureMode" type="str" value="Timed"/>
      <param name="ExposureAutoAlg" type="str" value="Mean"/>
      <param name="ExposureAutoAdjustTol" value="5"/> <!--0 to 50 -->
      <param name="ExposureAutoOutliers" value="0"/> <!-- 1000 = 10% -->
      <param name="ExposureAutoTarget" value="50"/> <!-- 0=black to 100=white -->
      <param name="ExposureAutoMin" value="100.0"/>
      <param name="ExposureAutoMax" value="35000.0"/>
      
      <!--param name="Gain" value="1.0"/-->
      <param name="GainAuto" type="str" value="Continuous"/>
      <param name="GainAutoAdjustTol" value="5"/> <!--0 to 50 -->
      <param name="GainAutoOutliers" value="0"/> <!-- 1000 = 10% -->
      <param name="GainAutoTarget" value="50"/> <!-- 0=black to 100=white -->
      <param name="GainAutoMin" value="-30.0"/>
      <param name="GainAutoMax" value="30.0"/>
      
      <param name="DSPSubregionLeft" value="0"/>
      <param name="DSPSubregionTop" value="0"/>
      <param name="DSPSubregionRight" value="1935"/>
      <param name="DSPSubregionBottom" value="1215"/>

      <param name="GevSCPSPacketSize" value="9000"/>

      <param name="TriggerMode" type="str" value="Off"/>
    </node>

    <node pkg="image_proc" type="image_proc" name="image_proc_$(arg camera_name)"
          args="load image_proc camera_nodelet_manager" output="screen">
    </node>
  </group>
</launch>
